<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/static/image/ntu.png" class="ntu img-responsiv">
            <img src="/static/image/gis.png" class="gis img-responsiv">
        </div>
        <div class="navi">
            <ul class="nav nav-pills">
              <li role="presentation" class="dropdown">
                <a href={% url 'survey' %}>
                  工作室概况
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="{% url 'inform' %}">
                  团队信息
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="{% url 'project' %}">
                  团队荣誉
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="{% url 'newsnews' %}">
                  新闻消息
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="" >
                  学习资料
                </a>
              </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="main" id="main">
            <div class="banner" id="banner">
                <a href="" class="aa">
                    <div class="banner-slide slide1 slide-active" style='border-radius: 15px;background-image:url("/{{ ban1.image }}")'></div>
                </a>
                <a href="" class="aa">
                    <div class="banner-slide slide2" style='border-radius: 15px;background-image:url("/{{ ban2.image }}")'></div>
                </a>
                <a href="" class="aa">
                    <div class="banner-slide slide3" style='border-radius: 15px;background-image:url("/{{ ban3.image }}")'></div>
                </a>
            </div>
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="line">最新通知</div>
            <div class="news">
                <ul>
                    <li><a href="{% url 'article' news1.id %}"><h3>{{ news1.title }}</h3></a>
                        <p>{{ news1.content }}</p>
                    </li>
                    <li><a href="{% url 'article' news2.id %}"><h3>{{ news2.title }}</h3></a>
                        <p>{{ news2.content }}</p>
                    </li>
                    <li><a href="{% url 'article' news3.id %}"><h3>{{ news3.title }}</h3></a>
                        <p>{{ news3.content }}</p>
                    </li>
                </ul>
            </div>
        <div class="line">团队荣誉</div>
        <div class="honor" id="honor">
            <div class="banner1" id="banner1">
                <a href="" class="aa">
                    <div class="banner1-slide slide_1 slide_1-active" style='border-radius: 15px;background-image:url("/{{ jx1.image }}")'></div>
                </a>
                <a href="" class="aa">
                    <div class="banner1-slide slide_2" style='border-radius: 15px;background-image:url("/{{ jx2.image }}")'></div>
                </a>
                <a href="" class="aa">
                    <div class="banner1-slide slide_3" style='border-radius: 15px;background-image:url("/{{ jx3.image }}")'></div>
                </a>
                <a href="" class="aa">
                    <div class="banner1-slide slide_1" style='border-radius: 15px;background-image:url("/{{ jx4.image }}")'></div>
                </a>
            </div>
            <div class="dots1" id="dots1">
                <span class="active"></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="/static/image/ntu_logo.png" alt="南通大学" height="50px" width="50px">
        <ul class="information">
            <li>地址：江苏省南通市通京大道999号</li>
            <li>电话：13585217135（周老师）</li>
            <li>邮箱：tonggis@163.com</li>
            <li>邮编：226007</li>
        </ul>
        <ul class="links text-center">
            <h4>常用链接</h4>
            <li><a href="http://www.ntu.edu.cn/">南通大学</a></li>
            <li><a href="http://geo.ntu.edu.cn/">南通大学地理科学学院</a></li>
            <li><a href="http://cnki.net/">中国知网</a></li>
        </ul>
        <hr/>
        <p class="Cr text-center">Copyright &copy; NanTong University School of Geography GIS Studio</p>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/script/broadcast.js"></script>
    <script src="/static/script/honor.js"></script>
</body>
</html>