<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>团队信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/static/image/ntu.png" class="ntu img-responsiv">
            <a href="/"><img src="/static/image/gis.png" class="gis img-responsiv"></a>
        </div>
        <div class="navi">
            <ul class="nav nav-pills">
              <li role="presentation" class="dropdown">
                <a href={% url 'survey' %}>
                  工作室概况
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="{% url 'inform' %}">
                  团队信息
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="{% url 'project' %}">
                  团队荣誉
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="{% url 'newsnews' %}">
                  新闻消息
                </a>
              </li>
              <li role="presentation" class="dropdown">
                <a href="" >
                  学习资料
                </a>
              </li>
            </ul>
        </div>
    </div>
    <div class="information_content">
        <div class="info_left">
          <ul class="list-group">
            <a class="list-group-item"><h5>指导老师</h5></a>
            <a href="#" class="list-group-item active" id="zt">周侗</a>
            <a href="#" class="list-group-item" id="tf">陶菲</a>
            <a class="list-group-item"><h5>团队学生</h5></a>
            <a href="#" class="list-group-item" id="ktl">康天乐</a>
            <a href="#" class="list-group-item" id="fzl">范紫灵</a>
            <a href="#" class="list-group-item" id="zrj">张瑞嘉</a>
            <a href="#" class="list-group-item" id="qz">钱振</a>
            <a href="#" class="list-group-item" id="lj">陆杰</a>
            <a href="#" class="list-group-item" id="lh">刘浩</a>
            <a href="#" class="list-group-item" id="cpy">陈品玉</a>
            <a href="#" class="list-group-item" id="chx">陈昊烜</a>
            <a href="#" class="list-group-item" id="hyc">胡宇宸</a>
            <a href="#" class="list-group-item" id="ldh">刘冬晖</a>
          </ul>
        </div>
        <div class="info_right">
          <h2>团队成员</h2>
          <hr/>
          <h4 id="tit">{{ zt.name }}</h4>
          <img src="/{{ zt.image }}" id="image" height="300px" width="300px">
          <p id="intro">{{ zt.info }}</p>
        </div>
        <div></div>
    </div>
    <div class="footer">
        <img src="/static/image/ntu_logo.png" alt="南通大学" height="50px" width="50px">
        <ul class="information">
            <li>地址：江苏省南通市通京大道999号</li>
            <li>电话：13585217135（周老师）</li>
            <li>邮箱：tonggis@163.com</li>
            <li>邮编：226007</li>
        </ul>
        <ul class="links text-center">
            <h4>常用链接</h4>
            <li><a href="http://www.ntu.edu.cn/">南通大学</a></li>
            <li><a href="http://geo.ntu.edu.cn/">南通大学地理科学学院</a></li>
            <li><a href="http://cnki.net/">中国知网</a></li>
        </ul>
        <hr/>
        <p class="Cr text-center">Copyright &copy; NanTong University School of Geography GIS Studio</p>
    </div>
    <script src="/static/script/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script>
        $(document).ready(function(){
            var title = $("#tit")
            var image = $("#image")
            var intro = $("#intro")
            $("#zt").click(function(){
                $("#zt").addClass("active");
                $("[id!='zt']").removeClass("active");
                title.html("{{ zt.name }}");
                image.attr("src","/{{ zt.image }}");
                intro.html("{{ zt.info }}")
            });

            $("#tf").click(function(){
                $("#tf").addClass("active");
                $("[id!='tf']").removeClass("active");
                title.html("{{ tf.name }}");
                image.attr("src","/{{ tf.image }}");
                intro.html("{{ tf.info }}")
            });

            $("#ktl").click(function(){
                $("#ktl").addClass("active");
                $("[id!='ktl']").removeClass("active");
                title.html("{{ ktl.name }}");
                image.attr("src","/{{ ktl.image }}");
                intro.html("{{ ktl.info }}")
            });

            $("#fzl").click(function(){
                $("#fzl").addClass("active");
                $("[id!='fzl']").removeClass("active");
                title.html("{{ fzl.name }}");
                image.attr("src","/{{ fzl.image }}");
                intro.html("{{ fzl.info }}")
            });

            $("#zrj").click(function(){
                $("#zrj").addClass("active");
                $("[id!='zrj']").removeClass("active");
                title.html("{{ zrj.name }}");
                image.attr("src","/{{ zrj.image }}");
                intro.html("{{ zrj.info }}")
            });

            $("#qz").click(function(){
                $("#qz").addClass("active");
                $("[id!='qz']").removeClass("active");
                title.html("{{ qz.name }}");
                image.attr("src","/{{ qz.image }}");
                intro.html("{{ qz.info }}")
            });

            $("#lj").click(function(){
                $("#lj").addClass("active");
                $("[id!='lj']").removeClass("active");
                title.html("{{ lj.name }}");
                image.attr("src","/{{ lj.image }}");
                intro.html("{{ lj.info }}")
            });

            $("#lh").click(function(){
                $("#lh").addClass("active");
                $("[id!='lh']").removeClass("active");
                title.html("{{ lh.name }}");
                image.attr("src","/{{ lh.image }}");
                intro.html("{{ lh.info }}")
            });

            $("#cpy").click(function(){
                $("#cpy").addClass("active");
                $("[id!='cpy']").removeClass("active");
                title.html("{{ cpy.name }}");
                image.attr("src","/{{ cpy.image }}");
                intro.html("{{ cpy.info }}")
            });

            $("#chx").click(function(){
                $("#chx").addClass("active");
                $("[id!='chx']").removeClass("active");
                title.html("{{ chx.name }}");
                image.attr("src","/{{ chx.image }}");
                intro.html("{{ chx.info }}")
            });

            $("#hyc").click(function(){
                $("#hyc").addClass("active");
                $("[id!='hyc']").removeClass("active");
                title.html("{{ hyc.name }}");
                image.attr("src","/{{ hyc.image }}");
                intro.html("{{ hyc.info }}")
            });

            $("#ldh").click(function(){
                $("#ldh").addClass("active");
                $("[id!='ldh']").removeClass("active");
                title.html("{{ ldh.name }}");
                image.attr("src","/{{ ldh.image }}");
                intro.html("{{ ldh.info }}")
        });
        });
    </script>
</body>
</html>